.Leaderboard-Main{
  min-height:10rem;
  min-width:90vw;
  max-width:100vw;
  border:1px solid lightcoral;
}

.Leaderboard-List{
  display:flex;
  flex-direction: column;
}

.Leaderboard-List-Titles{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  color:rgb(63, 59, 59)
}

.Leaderboard-Times{
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  border-bottom:1px solid lightgray;
}

.Leaderboard-Name{
  font-size:1.3rem;
  font-weight: bold;
  margin-bottom:2.5rem;
}
.Leaderboard-Time{
  font-size: 1.3rem;
  margin-bottom:2.5rem;
  font-weight: bold;
}

.Leaderboard-Title{
  text-align:center;
}
.Leaderboard-Title h1{
  margin-bottom:1.5rem;
}

.Leaderboard-Levels{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-top:2rem;
  margin-bottom:2rem;
  max-width:99% !important;
}

.Leaderboard-Button{
  border:transparent;
  font-size: 0.7rem !important;
  background-color: white;
  color:gray

}

.Leaderboard-Button:hover{
  cursor: pointer;
  color:black;
  text-decoration: underline;
}

@media screen and (min-width:400px)
{
  .Leaderboard-Button{
    border:transparent;
    font-size: 0.9rem;
    background-color: white;
  
  }
  .Leaderboard-Name{
    font-size:1rem;
    font-weight: bold;
  }
  .Leaderboard-Time{
    font-size: 1rem;
    font-weight: bold;
  }
  .Leaderboard-Title h1{
    font-size: 1.7rem;
  }
  .Leaderboard-Main h2{
    font-size: 1.3rem;
  }
}


@media screen and (min-width:530px)
{
  .Leaderboard-Button{
    border:transparent;
    font-size: 1.3rem !important;
    background-color: white;
  
  }
  .Leaderboard-Name{
    font-size:1.3rem;
    font-weight: bold;
  }
  .Leaderboard-Time{
    font-size: 1.3rem;
    font-weight: bold;
  }
  .Leaderboard-Title h1{
    font-size: 1.9rem;
  }
  .Leaderboard-Main h2{
    font-size: 1.5rem;
  }
}

